$white: #ffffff;
$gallery: #eeeeee;
$silver: #cccccc;
$dustygray: #999999;

$black: #000000;
$curiousblue: #3498db;
$mountainmeadow: #1abc9c;
$buttercup: #f1c40f;
$tallpoppy: #c0392b;

 $light: rgba(128,128,128,0.2);
 $medium: rgba(128,128,128,0.4);
 $heavy: rgba(128,128,128,0.6);
