@import '../../modules/core/components/colors';
@import '../../modules/core/components/fonts';

.gameview {
	width: 100%;
	height: 640px;
	background-color: $black;
	color: $dusty-gray;
	font-family: $viewport;
  font-weight: 100;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: initial;
	align-items: center;
	justify-content: space-between;

	article {
		text-align: center;
		width: 100%;
	}

	&__toaster, &__navigation {
		height: 1em;
		margin: 1em;
	}

	&__heading {
		font-size: 50px;
		margin-bottom: .5em;
	}

	&__body {
		margin-bottom: 1em;
	}

	&__choices {
		margin-bottom: 1em;
	}

	&__pick, &__next {
		cursor: pointer;

		&:hover {
			font-weight: 300;
		}
	}

	&__pick {
		margin: .2em 0;
	}
}
