@import '../../modules/core/components/colors';
@import '../../modules/core/components/fonts';

.gameview {
	width: 100%;
	height: 640px;
	background-color: $black;
	color: $dustygray;
	font-family: $viewport;
  font-weight: 100;
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: initial;
	align-items: center;
	justify-content: space-between;

	article {
		width: 90%;
	}

	&__toaster, &__navigation {
		height: 2em;
		margin: 1em 0;
		color: $white;
		display: flex;
		justify-content: space-between;
	}

	&__xp {
		color: $dustygray;	
	}

	&__main {
		height: 100%;
	}

	&__content {
		position: relative;
    bottom: -20em;
	}

	&__heading {
		font-size: 50px;
		margin-bottom: .5em;
		color: $white;
	}

	&__body {
		margin-bottom: 1em;
		font-style: italic;
	}

	&__question {
		margin-bottom: 1em;
	}

	&__pick {
		cursor: pointer;
		margin: .6em 0;
		font-weight: 300;
		
		&:before {
			content: '> ';
		}

		&:hover {
			color: $white;
			font-weight: 500;
		}
	}

	&__result {
		font-weight: 300;
		&--good {
			color: $curiousblue;
		}
		&--lawful {
			color: $mountainmeadow;
		}
		&--chaotic {
			color: $buttercup;
		}
		&--evil {
			color: $tallpoppy;
		}
	}

	&__next {
		cursor: pointer;
		font-size: 150%;
		color: $white;

		&:before {
			content: '> ';
		}

		&:hover {
			font-weight: 300;
		}
	}

}
