@import '../../modules/core/components/colors';
@import '../../modules/core/components/fonts';

.gameview {
	position: relative;
	z-index: 1;
	width: 100vw;
  height: 80vh;
	background-color: $black;
	color: $dustygray;
	font-family: $viewport;
	text-align: left;

	&__toaster {
		height: 75px;
		margin: 1em 0;
		color: $white;
		font-weight: 300;
		display: flex;
		justify-content: space-between;
		padding: 20px;
	}

	&__content {
		position: absolute;
    bottom: 0;
		height: 200px;
		padding: 20px;
	}

	&__heading {
		font-size: 50px;
		margin-bottom: .5em;
		color: $white;
	}

	&__body {
		margin-bottom: 1em;
		font-style: italic;
	}

	&__question {
		margin-bottom: 1em;
	}

	&__pick {
		cursor: pointer;
		margin: .6em 0;
		
		&:before {
			content: '> ';
		}

		&:hover {
			color: $white;
		}
	}

	&__results {
		display: none;
	}

	&__xp {
		&--good {
			color: $curiousblue;
		}
		&--lawful {
			color: $mountainmeadow;
		}
		&--chaotic {
			color: $buttercup;
		}
		&--evil {
			color: $tallpoppy;
		}
	}

	&__next {
		margin-top: 1em;
		cursor: pointer;

		&:before {
			content: '> ';
		}

		&:hover {
			color: $white;
		}
	}

	&__underlay {
		width: 100%;
		height: 100%;
		position: absolute;
		padding:0;
		margin:0;
		left: 0px;
		top: 0px;
		z-index: -1000;
		overflow:hidden;
		filter: blur(10px) brightness(0.8);
	}

	&__video-player {
		height: 100%;
		width: auto;
		min-height: 100%;
		min-width:100%;
		position:absolute;
		bottom:0;
		left:0;	
		object-fit: cover;
	}
}
