@import '../../../core/components/colors';
@import '../../../core/components/uikit';

.stories {
	@extend .section;

	&__heading {
    @extend .heading;
	}

	&__body {
		@extend .body;
	}

	&__list {
		@extend .picklist;		
	}

	&__pick {
		@extend .pickbox;
		width: 300px;

		&:hover {
			background-color: $medium;
		}
		&:active {
			background-color: $heavy;			
		}
	}

	&__title {
		margin-top: 5px;
		font-weight: 300;
		height: 100%;
	}

	&__description {
		margin-top: 5px;
		color: $gallery;
		font-style: italic;
		font-size: 75%;
	}

}