@import '../../../core/components/colors';
@import '../../../core/components/uikit';

.episodes {
	@extend .section;

	&__heading {
    @extend .heading;
	}

	&__body {
		@extend .body;
	}

	&__list {
		position: relative;
		left: -10px;
		display: flex;
		flex-wrap: wrap;
	}

	&__pick {
		@extend .pickbox;
		
    &--completed {
			@extend .pickbox;
			cursor: default;
			opacity: 0.5;
		}

		&:hover {
			background-color: $medium;
		}
		&:active {
			background-color: $heavy;			
		}
	}

	&__title {
		font-weight: 300;
	}

	&__description {
		margin-top: 5px;
		color: $gallery;
		font-style: italic;
		font-size: 80%;
	}

}
