@import '../../../core/components/colors';
@import '../../../core/components/fonts';
@import '../../../core/components/uikit';

.epilogue {
	@extend .section;

	&__heading {
	  @extend .heading
	}

	&__next {
    margin: 1em 0 .2em 0;
		padding: .2em 0;
		text-align: left;
		color: $dustygray;
		cursor: pointer;
		font-size: 150%;
		font-weight: 300;

		&:before {
			content: '> ';
		}

		&:hover {
			color: $white;
		}
	}
}