@import '../../../core/components/colors';
@import '../../../core/components/fonts';

.chapter {
	padding: 20px;

	&__heading {
		font-weight: 100;
		font-size: 50px;
		margin-bottom: 10px;
		color: $white;
		line-height: 1em;
	}

	&__body {
		margin-bottom: 1em;
		font-style: italic;
	}

	&__question {
		margin-bottom: 1em;
	}

	&__pick, &__next {
    margin: .2em 0;
		padding: .2em 0;
		text-align: left;
		color: $dustygray;
		cursor: pointer;

		&:before {
			content: '> ';
		}

		&:hover {
			color: $white;
		}
	}
}
