@import '../../../core/components/colors';
@import '../../../core/components/fonts';
@import '../../../core/components/uikit';

.chapter {
	@extend .section;

	&__heading {
		@extend .heading;
	}

	&__body {
		@extend .body;
	}

	&__question {
		margin-bottom: 1em;
	}

	&__pick, &__next {
    margin: .2em 0;
		padding: .2em 0;
		text-align: left;
		color: $dustygray;
		cursor: pointer;

		&:before {
			content: '> ';
		}

		&:hover {
			color: $white;
		}
	}
}
